name: Docker Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t tuheen27/two-tier-frontend-application:latest .

      - name: Test Docker image
        run: |
          docker run -d --name test-app -p 5000:5000 tuheen27/two-tier-frontend-application:latest
          sleep 5
          curl -f http://localhost:5000/health || exit 1
          docker stop test-app
          docker rm test-app

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push to Docker Hub
        run: docker push tuheen27/two-tier-frontend-application:latest